/*=============CSS RESET START==================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=============CSS RESET END==================*/

/*============= Fonts ===============*/

/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato normal"),
    url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato bold"),
    url("../fonts/lato-v17-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*============= Fonts End ===============*/

/*============COMMON STYLES START============*/

body {
  font-family: "Lato", sans-serif;
  color: var(--main-text-color, #000);
  line-height: 1.4;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

picture {
  display: inline-flex;
}

:focus {
  outline: 3px solid #000;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  border: 0;
}
/*===========Css Variables ==========*/
:root {
  --main-hue: 350deg;
  --secondary-hue: 10deg;
  --main-color: hsl(var(--main-hue) 82% 61%);
  --secondary-color: hsl(var(--secondary-hue) 86% 52%);
  --main-text-color: #000;
  --secondary-text-color: #fff;
  --gradient-main: hsl(var(--main-hue) 74% 48% / 80%);
  --gradient-secondary: hsl(var(--secondary-hue) 86% 52% / 80%);
}
/*========== Container ==========*/
.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
/*=========== Buttons ==========*/
.btn {
  padding: 16px 52px;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn-login {
  padding: 12px 28px;
  border: 1px solid #fff;
  font-weight: 400;
}
.btn-primary {
  color: var(--main-color, #ed4c5c);
  background-color: var(--secondary-text-color, #fff);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: transparent;
  color: var(--secondary-text-color, #fff);
  border-color: #ccc;
}
.btn-secondary {
  color: var(--secondary-text-color, #fff);
  background-color: transparent;
  border-color: var(--secondary-text-color, #fff);
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  color: var(--main-color, #ed4c5c);
  background-color: var(--secondary-text-color, #fff);
}
.btn-colored {
  color: var(--secondary-text-color, #fff);
  background-color: var(--main-color, #ed4c5c);
  border-color: var(--main-color, #ed4c5c);
}
.btn-colored:hover,
.btn-colored:active,
.btn-colored:focus {
  color: var(--main-color, #ed4c5c);
  background-color: var(--secondary-text-color, #fff);
}

/*========== Link ===========*/
.more-link {
  color: var(--main-color, #ed4c5c);
  font-size: 14px;
  transition: 0.3s;
}
.more-link:hover {
  text-shadow: 0.3px 0 0, -0.3px 0 0, 0 0.3px 0, 0 -0.3px 0;
}
/*============COMMON STYLES END============*/
/*============ Header ============*/

.header {
  width: 100%;
  padding: 50px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: var(--secondary-text-color, #fff);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo {
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}

/*=========== Nav =========*/
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.logo-icon {
  margin-right: 5px;
}

.nav__link {
  transition: 0.3s;
  padding: 16px 13px;
}

.nav__link:hover {
  text-shadow: 0.3px 0 0, -0.3px 0 0, 0 0.3px 0, 0 -0.3px 0;
}

/*========== Intro =========*/
.webp .intro {
  padding-top: 260px;
  padding-bottom: 190px;
  background: linear-gradient(
      90deg,
      var(--gradient-main) 0%,
      var(--gradient-secondary) 100%
    ),
    url("../images/intro(1).webp") no-repeat center / cover;
}

.no-webp .intro {
  padding-top: 260px;
  padding-bottom: 190px;
  background: linear-gradient(
      90deg,
      var(--gradient-main) 0%,
      var(--gradient-secondary) 100%
    ),
    url("../images/intro.png") no-repeat center / cover;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro__title {
  text-transform: uppercase;
  color: var(--secondary-text-color, #fff);
  font-size: 72px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 39px;
}

.intro__subtitle {
  margin-bottom: 39px;
  line-height: 1.5;
  font-weight: 600;
  font-size: 24px;
  color: var(--secondary-text-color, #fff);
}

/*========== Main ==========*/

.main__section-top {
  padding: 95px 0;
}

.main__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__wrap {
  width: 445px;
  display: flex;
  flex-direction: column;
}

.main__title-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  padding-top: 43px;
}

.main__text {
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  margin: 46px 0 23px 0;
}

.img-wrap {
  position: relative;
  border-radius: 15px;
}

.main__img {
  width: 445px;
  height: 311px;
  object-fit: cover;
}

.play-btn {
  width: 66px;
  height: 66px;
  background-color: var(--main-color, #ed4c5c);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color, #fff);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*==========Features Card Section =========*/

.card {
  width: 350px;
}

.section__cards {
  width: 100%;
  background-color: var(--secondary-text-color, #fff);
  padding: 63px 0 124px;
  background: #fafafa;
}

.section__title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}

.card__img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-radius: 8px;
}

.card-content {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-text-color, #fff);
  padding: 32px;
  margin: -80px auto 0 auto;
  width: 293px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  position: relative;
  text-align: center;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-text {
  font-size: 12px;
  line-height: 1.4;
}

.card__link {
  font-weight: bold;
  font-size: 12px;
  color: var(--main-color, #ed4c5c);
}

.card__link:hover,
.card__link:active,
.card__link:focus {
  text-shadow: 0.3px 0 0, -0.3px 0 0, 0 0.3px 0, 0 -0.3px 0;
}

/*=========Technology Section =======*/
.technology__section {
  padding: 63px 0 104px;
}

.numbers__item {
  position: relative;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers__num {
  opacity: 0.7;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.2;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
}

.numbers__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
}

.numbers__text {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: 10px;
}

.icon__numbers {
  margin-top: -50px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.design_cloud-img {
  width: 55px;
  height: 50px;
  margin-top: -55px;
}

/*============ Video section ==========*/
.video__section {
  background-color: var(--main-color, #ed4c5c);
  padding: 94px 0 94px;
  color: var(--secondary-text-color, #fff);
}

.main__text-container {
  width: 445px;
}

.video__section-img {
  width: 445px;
  height: 311px;
  object-fit: cover;
}

.video__section-text {
  margin: 30px 0 30px;
  font-size: 14px;
  line-height: 1.4;
}

.video__section-icons {
  display: inline-flex;
}

.fab {
  font-size: 32px;
  cursor: pointer;
  transition: 0.3s;
  margin: 16px 13px 16px 0;
}

.fab:hover {
  transform: scale(1.1);
}

/*============ Form Section ============*/
.form__section {
  padding: 117px 0 123px;
}

.form {
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.form__wrap-text {
  width: 445px;
}

.regular-field {
  width: 100%;
}

.short-field {
  width: calc((100% - 30px) / 2);
}

input,
select {
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/*=========== Footer ===========*/
.footer {
  width: 100%;
  padding: 85px 0 85px;
  display: flex;
  background: #fafafa;
}

.footer-container {
  align-items: flex-start;
}

.footer__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 33px;
}

.footer__text {
  font-size: 13px;
  line-height: 19px;
  line-height: 1.5;
}

.footer-icon {
  font-size: 14px;
}

.footer__link {
  text-decoration: none;
  color: var(--main-text-color, #000);
  font-size: 13px;
  line-height: 1.6;
}

.footer__adress {
  width: 175px;
}

/*========== Copyright ==========*/
.copyright__section {
  width: 100%;
  background: #fafafa;
  padding-bottom: 86px;
  font-size: 12px;
}

/*============ Media Queries Start==========*/

/*===== Large devices (desktops, less than 1200px) ====*/
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .card {
    width: 32%;
  }
  .card-content {
    width: 85%;
  }
  .form__wrap-text {
    width: 350px;
  }
}

/*===== Medium devices (tablets, less than 992px) =====*/
@media (max-width: 991.98px) {
  /*======= Container ======*/
  .container {
    max-width: 720px;
  }
  /*======= Header ======*/
  .header__logo {
    width: 100%;
    justify-content: center;
  }
  .header__inner {
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 20px;
  }
  /*===== Intro and main buttons ====*/
  .intro__title {
    font-size: 52px;
  }
  .intro__subtitle {
    font-size: 18px;
  }
  .btn-login {
    padding: 8px 14px;
  }
  .btn-primary {
    padding: 11px 36px;
  }
  /*========== Main =========*/
  .main__img {
    width: 300px;
    height: 200px;
  }
  .main__wrap {
    width: 350px;
  }
  .img-wrap {
    display: flex;
    align-items: center;
  }
  .main__title-text {
    font-size: 20px;
    padding-top: 20px;
  }
  .main__text {
    margin: 20px 0 18px 0;
    font-size: 13px;
  }
  .play-btn {
    width: 53px;
    height: 53px;
  }
  /*===== Section with cards ====*/
  .section__cards {
    padding: 60px 0 60px;
  }
  .section__title {
    font-size: 30px;
  }
  .container-cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 45%;
    margin-bottom: 50px;
  }
  /*===== Section with numbers ====*/
  .numbers__item {
    width: 45%;
  }
  /*====== Video Section =====*/
  .video__section-img {
    width: 350px;
    height: 250px;
  }
  .video__section-text {
    margin: 18px 0;
  }
  .main__text-container {
    width: 300px;
  }
  /*======= Form =======*/
  .form {
    width: 400px;
  }
  .form__wrap-text {
    width: 250px;
  }
  .btn-colored {
    padding: 12px 25px;
  }
}

/*===== Small devices (landscape phones, less than 768px) ====*/
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .webp .intro {
    padding-bottom: 80px;
  }
  /*========== Main =========*/
  .main-section {
    flex-direction: column;
    align-items: center;
  }
  .main__section-top {
    padding: 60px 0;
  }
  .main__title-text {
    padding: 0;
  }
  .main__text {
    margin: 20px 0 18px 0;
    font-size: 13px;
  }
  .main__wrap {
    width: 450px;
    margin-bottom: 20px;
  }
  .main__img {
    width: 450px;
    height: 250px;
  }
  .play-btn {
    width: 54px;
    height: 54px;
    left: 50%;
    top: 50%;
  }
  /*===== Section with cards ====*/
  .section__cards {
    padding: 60px 0 60px;
  }
  .section__title {
    font-size: 30px;
  }
  .card-text {
    font-size: 11px;
  }
  .container-cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    width: 45%;
    margin-bottom: 50px;
  }
  /*====== Video Section =====*/
  .video__section {
    padding: 60px 0;
  }
  .video__section-img {
    width: 450px;
  }
  .video__section-text {
    margin: 18px 0;
  }
  .main__text-container {
    width: 450px;
    margin-bottom: 20px;
  }
  .fab {
    font-size: 25px;
  }
  /*======= Form =======*/
  .form__section {
    padding: 80px 0 100px;
  }
  .form {
    width: 100%;
  }
  /*======= Footer =======*/
  .footer {
    padding: 55px 0;
  }
}

/*==== X-Small devices (portrait phones, less than 576px) ====*/
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 15px 0 15px;
  }
  /*========== Header,nav and intro =========*/
  .header {
    padding: 30px 0;
  }
  .nav {
    text-align: center;
  }
  .nav__link {
    padding: 10px 8px;
    font-size: 12px;
  }
  .webp .intro {
    padding-bottom: 35px;
  }
  .intro__title {
    margin-bottom: 15px;
    font-size: 30px;
  }
  .intro__subtitle {
    font-size: 12px;
  }
  .btn-login {
    padding: 8px 18px;
    font-size: 12px;
  }
  .btn-primary {
    padding: 8px 23px;
    font-size: 12px;
  }
  /*========== Main =========*/
  .main__section-top {
    padding: 50px 0;
  }
  .main__title-text {
    font-size: 18px;
  }
  .main__text {
    margin: 20px 0 18px 0;
    font-size: 12px;
  }
  .main__wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .main__img {
    width: 100%;
    height: 200px;
  }
  .play-btn {
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
  }
  /*===== Section with cards ====*/
  .section__cards {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
  }
  .section__title {
    font-size: 25px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-content {
    padding: 14px;
    gap: 20px;
  }
  .card-text {
    font-size: 11px;
  }
  .card {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  /*===== Technology Section ====*/
  .technology__section {
    padding: 50px 0 80px;
  }
  .numbers__item {
    width: 100%;
  }
  /*====== Video Section =====*/
  .video__section {
    padding: 50px 0;
  }
  .video__section-img {
    width: 100%;
  }
  .video__section-text {
    margin: 18px 0;
    font-size: 12px;
  }
  .main__text-container {
    width: 100%;
    margin-bottom: 20px;
  }
  /*======= Form =======*/
  .form-container {
    flex-direction: column;
    align-items: center;
  }
  .form__section {
    padding: 60px 0 90px;
  }
  .form__wrap-text {
    width: 100%;
  }
  .form {
    width: 100%;
  }
  .short-field {
    width: 100%;
  }
  .btn-colored {
    padding: 10px 18px;
    font-size: 12px;
  }
  /*======= Footer =======*/
  .footer__header {
    margin-bottom: 20px;
  }
  .footer__adress {
    width: 150px;
  }
  .footer__link {
    font-size: 11px;
  }
  .footer__text {
    font-size: 11px;
  }
  .copyright__section {
    padding-bottom: 40px;
  }
}
/*============ Media Queries End==========*/
